body {
    text-align: center;
    font-family: 'Droid Sans', 'Noto Sans', 'Oswald', sans-serif;
    background: url("../img/background.jpg") center;
}

h1 {
    font-size: 30px;
}

a {
    font-size: 20px;
    color: black;
}

a:hover {
    color: grey;
}

#personal {
    padding: 30px;
}

#logo {
    width: 20%;
    padding: 10px;
}