body {
    text-align: center;
    font-family: 'Droid Sans', 'Noto Sans', 'Oswald', sans-serif;
}

h1 {
    font-size: 30px;
}

a {
    font-size: 15px;
    color: black;
}

.btn {
    margin: 5px;
}

#chooseCompany {
    background-color: #55ddff !important;
    color: black;
    border: none;
}

#chooseCompany:hover {
    background-color: lightblue !important;
}

a:hover {
    color: grey;
}

#personal {
    padding-top: 30px;
}

#logo {
    width: 20%;
    padding: 10px;
}

#selectCompany {
    width: 200px;
    display: initial;
}

#no-comp {
    padding: 20px;
}