body {
    text-align: center;
    font-family: "Droid Sans", "Noto Sans", "Oswald", sans-serif;
}

h1 {
    font-size: 30px;
}

a {
    font-size: 15px;
    color: black;
}

.btn {
    margin: 5px;
}

#showMessage {
    background-color: #55ddff !important;
    color: black;
    border: none;
}

a:hover {
    color: grey;
}

#personal {
    padding: 20px;
}

#logo {
    width: 250px;
}

#comp {
    width: 600px;
    margin: auto;
    text-align: left;
}

@media (max-width: 768px) {
    #comp {
        width: 80%;
    }
}
